/*================== Article_Section ==================*/
.section_activites{
    margin-left: 10%;
    margin-right: 10%;
}
.articles_activites-title{
    font-size: 3em;
}
.articles_activites-paragraphe{
    text-align: justify;
    font-size: 2em;
}

/*  ================== TABLEAU ACTIVITES ================== */
/* titre du tableau */
caption {
    margin-bottom: 1em;
    text-align: center;
    color: var(--black);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2em;
}
/* mise en forme du tableau */
.tableau_activites {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid var(--borderSecondary);
    margin-bottom: 3em;
}

.tableau_activities-header th {
    background-color: var(--secondary);
    border: 1px solid var(--borderSecondary);
}
.tableau_activities-header {
    color: var(--white);
}
tbody, thead {
    font-size: 1.3em;

}

  /* largeur des colonnes  */
.tableau_activites th:nth-child(1) {
    width: 30%;
}
  
.tableau_activites th:nth-child(2) {
    width: 20%;
}
  
.tableau_activites th:nth-child(3) {
    width: 15%;
}
  
th, td {
    padding: 1em;
}

th {
    letter-spacing: 2px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
}

.th_border-bottom{
    border-bottom: 2px solid var(--borderSecondary);
}
.th_border-right{
    border-right: 1px solid var(--borderPrimary);
}