/* ================== SECTION MAIN ===================*/
#main {
    padding-left: 10%;
    padding-right: 10%;
}

/* ================== SECTION SLIDER OR CAROUSEL ===================*/
.slider{
    margin-top: 4.5em;  
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--borderSecondary);
    position: relative;
}
.item img{
    max-width: 100%;
    display: block;
    animation: zoom 1s ease-in-out;
}
@keyframes zoom {
    0%
    {
        transform: scale(1.1);opacity: 0;
    }
    100%
    {
        transform: scale(1);opacity: 1;
    }
}
 .item{
    display: none;
}
 .item.active{
    display: block;
}
.slide-left, .slide-right {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--primary);
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    top: 50%;
    margin-top: -20px;
    transition: all .5s ease;
}
.slide-left:hover, .slide-right:hover{
    background-color: var(--primaryHover);
    box-shadow: 0px 0px 10px #000000;
}
.slide-left{
    left: 30px;
}
.slide-right{
    right: 30px;
}
/* ================== SECTION ABOUT ===================*/
#about {
    margin-top: 2em;  
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--borderSecondary);
}
.about_article{
    height: 300px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em; 
}
.about_figure{
    margin: 0;
    margin-right: 1em;
    float: left;
}
.about_img{
    margin: 0;
    width: auto;
    height: 160px;  
}
.about_description{
    height: 200px;
    padding-top: auto;
    padding-bottom: auto;
    text-align: justify;
}

/* button article */
.about_wrapper_button{
width: 100%;
display: flex;
justify-content: flex-end;
padding-right: 10%;
margin-top: 1em;
margin-bottom: 1em;
}
.btn {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em; 
  }
  .btn a {
    color: var(--white);
    text-decoration: none; 
  }
  .btn a:hover {
    color: var(--white);
  }
  .btn:hover{
      background-color: var(--secondaryHover);
  }


/* ================== SECTION HISTOIRE ===================*/
  #section_histoire {
    background-image: url("../img/discover-small.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--borderSecondary);
  }
  .histoire_title{
      color: var(--white);
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
  }

  .histoire_paragraphe{
      color: var(--white);
      margin-left: 20%;
      margin-right: 20%;
      font-size: 1.3em;
      text-align: center;
  }
  .histoire_btn-description {
      width: 200px;
      margin-top: 4em;
      margin-left: auto;
      margin-right: auto;
  }
/* =================== SECTION SERVICE ====================== */
/* Section Membre */

#services {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1.5em;
    text-align: center;
    border-top: 1px solid var(--borderSecondary);
    border-bottom: 1px solid var(--borderSecondary);
    
 }
 .services__wrapper{
     display: flex;
     justify-content: space-evenly;
     padding: 1rem;
 }
 .services__figure-img{
     margin: 0;
     padding: 1em;
 }
 .services__img {
     width: 100%;
 }
 .services_title {
     margin-bottom: 1em;
     font-size: 3em;
     color: var(--black);
 }
 .services__title-h3 {
     font-size: clamp(0.8em, 1.5em, 2em);
 }
 
 /* =================== SECTION EXPERIENCE =================== */
 #section_experience{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1.5em;
    text-align: center;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--borderSecondary);
 }
 .experience_title{
    margin-bottom: 1em;
    font-size: 3em;
    color: var(--black);
 }
 .experience_span-title{
     color: var(--secondary);
 }
 .experience_wrapper{
     display: flex;
     flex-direction: row; 
 }
 .experience_wrapper-item {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .experience_item {
      width: 100%;
      margin-right: 3em;
      text-align: justify;
 }
 .experience_video{
     margin-left: 3em;
 }

 /* ===================  SECTION CONTACT ===================  */
 #section_contact {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid var(--borderSecondary);
 }
 .contact_title {
    margin-bottom: 1em;
    font-size: 3em;
    color: var(--black);
    text-align: center;
 }
 .contact_form {
     display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .contact_form-label {
     font-size: 1.5em;
 }
 .contact_form-input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
 }
 .contact_form-btn {
     display: flex;
     justify-content: center;
}
 .contact_form-input-btn {
     margin-left: 1em;
     margin-right: 1em;

     background-color: var(--secondary);
     color: var(--white);
     border: none;
     cursor: pointer;
     border-radius: 0px;
     padding-top: 1em;
     padding-bottom: 1em;
     padding-left: 0.8em;
     padding-right: 0.8em;
     margin-top: 2em;
   }
 .contact_form-input-btn:hover{
     background-color: var(--secondaryHover);
}
/* ===================  SECTION findUS ===================  */
#findUs {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
}
.findUs_title {
    margin-bottom: 1em;
    font-size: 3em;
    color: var(--black);
    text-align: center;
}
.findUs_carte iframe{
 width: 100%;
}

  /* ===================  RESPONSIVE  =================== */

  @media screen and (max-width: 1100px){
    #about{
        padding-left: 0;
        padding-right: 0;
    }
    .histoire_title{
        font-size: 1.5em;
    }
    .histoire_paragraphe{
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .about_description{
        padding-right: 10px;
        overflow-y: scroll;
        scrollbar-color: var(--primary) var(--secondary);
        scrollbar-width: thin;
    }
  }
  @media screen and (max-width: 1050px){
    .experience_wrapper{
        
        flex-direction: column;
        justify-content: center;
    }
    .experience_video{
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-left: 0;
        padding-right: auto;
        padding-left: auto;
        
    }
    .experience_video iframe{
        max-width: 80%;
        height: auto;
        margin-left: 0;
        
        
    }
  }
  @media screen and (max-width: 890px){
    .about_article{
        padding-left: 0;
        padding-right: 0;
    }
    .histoire_paragraphe{
        margin-left: 0;
        margin-right: 0;
    }
  }
  @media screen and (max-width: 890px){
    
    #section_contact{
        padding-left: 0;
        padding-right: 0;
    }
    .contact_form-input {
        width: 100%;
     }
  }
 

 
