/* ================== VARIABLE COULEUR ==================*/
:root {
    --primary:  #85929e;
    --primaryHover : #e5e2e2;
    --secondary : #ccb861;
    --secondaryHover : #baa64e;
    --black : #050505;
    --white:#ffffff;

    --borderPrimary : #ccc;
    --borderSecondary : #85929e;
}
/* ================== BODY ==================*/
body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

/* ================== SECTION HEADER ==================*/
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_logo-box{
    display: flex;
    justify-content: center;
}
.header_logo{
    height: 50px;
}
.header_title{
    font-family: 'Parisienne', cursive;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

/* ================== SECTION NAVBAR ==================*/
#navbar {
    margin-top: 2em;
}
#navbar_box-links {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar_links{
    font-family: 'PT Sans', sans-serif;

    flex-grow:1;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: var(--primary);
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    
}
.navbar_links a{
    color: var(--black);
    text-decoration: none;
}
.navbar_links-active{
    background-color: var(--primaryHover);
}
.links-reservation {
    background-color: var(--secondary);
}
.links-reservation  a{
    color: var(--white);
}
.navbar_links:hover{
    background-color: var(--primaryHover);
}
.links-reservation:hover{
    background-color: var(--secondaryHover);
    
}

/* ================== SECTION MAIN ==================*/
#main{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/* ================== SECTION FOOTER ==================*/
#footer{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;
    background-color: var(--primary);
    width: 100%;
    color: var(--white);
}
.footer_title{
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
}
/* wrapper items */
.footer_row{
    display: flex;
    flex-direction: row;
}
/* wraper liens navigation */
.footer_box-links{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10em;
    margin-left: 12em;

}
.footer_links{
    list-style: none;
    font-size: 1.5em;
}
.footer_links a{
    color: var(--white);
    text-decoration: none; 
}
.footer_links a:hover{
    color: var(--secondaryHover);
}
/* wrapper newsLetter et liens Sociaux */
.footer_contact-box{
    width: 35%;
    display: flex;
    flex-direction: column;
}
/* wrapper liens sociaux */
.footer_contact-social-links-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer_social {
    margin-right: 3.5em;
}
.fab {
    color: var(--white);
    font-size: 3em;
}
.fab:hover {
    color: var(--secondaryHover);
}
/* wrapper newsLetter */
.footer_contact-newsLetter-box{
    width: 50%;
}
.footer_paragraphe{
    text-align: center;
}
.footer_newsLetter-paragraphe{
    font-size: 1.5em;
}
.footer_newsLetter-btn{
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em; 
}
.footer_newsLetter-btn:hover{
    background-color: var(--secondaryHover);
}

/* ================== RESPONSIVE ==================*/
@media screen and (max-width: 1100px){
    #navbar_box-links{
        margin-left: 8%;
        margin-right: 8%;
    }
    .section_activites{
        margin-left: 8%;
        margin-right: 8%;
    }
    .footer_box-links{
        margin-left: 0;
        margin-right: 0;
    }
    .footer_contact-box{
        display: flex;
        justify-content: center;
    }
    .footer_paragraphe{
        margin-top: 2em;
    }
    
    .footer_contact-newsLetter-box{
        width: 100%;
    }
}
@media screen and (max-width: 890px){
    #navbar_box-links{
        margin-left: 5%;
        margin-right: 5%;
    }
    .navbar_links{
        font-size: 1em;
    }
    .main{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media screen and (max-width: 773px){
    .footer_row{
      display: flex;
      flex-direction: column;
      justify-content: center;
    } 
    .footer_box-links{
      padding: 0;
      width: 100%;
      font-size: 1em;
      justify-content: center;
    }
    .footer_links{
      margin-right: 1em;
    }
    .footer_contact-box{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .footer_contact-newsLetter-box{
        display: flex;
        flex-direction: column;  
    }
    .footer_newsLetter-btn{
        width: 50%;
    }
}
@media screen and (max-width: 656px){
    #navbar_box-links{
        flex-direction: column;
        font-size: 1.5em;
    }
    .articles_activites-title{
        text-align: center;
        font-size: 2.4em;
    }
    .articles_activites-paragraphe{
        font-size: 1.8em;
    }
    .footer_box-links{
        flex-direction: column;
    }
    .footer_contact-newsLetter-box{
        text-align: center;
    }
    .footer_newsLetter-btn{
        margin-left: auto;
        margin-right: auto;
    }
    .footer_contact-social-links-box{
        width: 100%;
        justify-content: space-around;
        margin: 0;
        
    }
    .footer_social{
        margin-right: 0;
    }
}
